  html {
    border-top: 6px solid #4bc1df;
    border-bottom: 6px solid #4bc1df;
    background-color: #72a6b4;
    width: 1024px;
    margin: 0 auto;
    padding-bottom: 32px;
  }
    
  nav, header {
    margin-top: 90px;
  }

  nav  img {
    vertical-align:bottom;
  }

  ul#thumbnails {
    padding: 0px;
  }

  ul#thumbnails li {
    display: inline-block;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 15px;
  }

  nav span {
    margin-bottom: -8px;
  }

  header {
    margin-top: 100px;
  }

  h1, h2 {
    margin: 5px -5px;
    padding: 5px -5px;
    line-height: 0.8em;
  }
  
  h3 {
   font-family: Helmet, Freesans, sans-serif;
   color: #444;
   font-weight: normal;
  }

  article {
    margin-top:32px;
  }